// COLORS
$primary-color: #b20bff;
$secondary-color: #fff700;

$white-color: #fff;
$white-color2: rgba(255, 255, 255, 0.800);


$dark-grey: #444444;
$light-grey: rgba(255, 255, 255, 0.555);
$black: #000000;
$black2: #111111;

$gray: #222222;
$gray2: #333333;

$dark-blue-text: rgba(255, 255, 255, 0.800); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 3.9rem;
$mid-font-size: 2.4rem;
